.container {
  font-family: 'Arial, sans-serif';
  color: white;
  text-align: center;
}


/* .main-section{
  padding : 40px 0;
  text-align: center;

}
footer{
  background-color: black;
  color : blanchedalmond;
  padding : 20px;
  text-align: center;
} */